* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: hsl(223, 19%, 93%);
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Inter", sans-serif;
}

.body {
  color: #858688;
}

.comment-box {
  max-width: 700px;
  margin-top: 20px;
  position: relative;
  padding: 20px 10px;
  border-radius: 4px;
  background-color: #fff;
  display: flex;
}

.nested {
  margin-left: 50px;
  max-width: 650px;
}

.nested::before {
  content: "";
  background-color: lightgray;
  position: absolute;
  min-height: calc(100% + 20px);
  width: 1px;
  left: -20px;
  top: -20px;
}

.vote {
  display: flex;
  flex-direction: column;
  height: 100px;
  border-radius: 5px;
  color: #5357b6;
  padding: 0 10px;
  background-color: hsl(223, 19%, 93%);
  justify-content: space-around;
  align-items: center;
  margin: 0 15px;
}

.vote-number {
  font-weight: 600;
}

.icon {
  cursor: pointer;
  width: 10px;
}

.avatar {
  width: 30px;
  margin-right: 15px;
}
.header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  position: relative;
  width: 100%;
}

.username {
  color: hsl(212, 24%, 26%);
  font-weight: bold;
  margin-right: 15px;
}

.time-posted {
  color: hsl(211, 10%, 45%);
  opacity: 0.6;
  margin-right: 15px;
}
.reply {
  color: #5357b6;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  right: 2%;
}

.reply-icon {
  margin-right: 3px;
}

.text-container {
  width: 600px;
}

.send-comment-container {
  margin-top: 50px;
  width: 700px;
  background-color: white;
  display: flex;
  padding: 20px 10px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.current-user-indicator {
  margin-right: 10px;
  background-color: hsl(238, 40%, 52%);
  padding: 5px 8px;
  color: #fff;
  font-weight: bold;
  border-radius: 4px;
}

.current-user-avatar-container {
  margin-left: 15px;
  align-self: start;
}

.input-container {
  width: 100%;
}

.btn-container {
  align-self: start;
  margin-left: 10px;
}

.comment {
  padding-top: 10px;
  padding-left: 16px;
  width: 100%;
  outline: none;
  border: 1px solid #f8f8f8;
  border-radius: 4px;
  font-family: "Inter", sans-serif;
}

.btn {
  outline: none;
  border: none;
  background-color: hsl(238, 40%, 52%);
  padding: 12px 24px;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  border-radius: 7px;
  cursor: pointer;
  transition: all 0.25s;
}

.btn:hover {
  background-color: hsl(238, 36%, 40%);
}

textarea {
  resize: none;
}
